        .TerceiraDivPrincipal {
            width: 100%;
            height: 430px;
            background-image: linear-gradient(90deg, #7DEDE2, #58B790);
            position: relative;
        }
        
        .Form {
            width: 780px;
            height: 520px;
            border-radius: 10px;
            background-color: white;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
        }
        
        .DivPrimeirosInputs {
            margin-top: 30px;
            width: 100%;
        }
        
        .FormTxt {
            font-size: 20px;
            color: #63C7A9;
            font-family: 'Montserrat', sans-serif;
            margin-top: 50px;
        }
        
        .FormSegundoTxt {
            width: 520px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: lighter;
            line-height: 16px;
            margin: auto;
            margin-top: 25px;
        }
        
        .FormCampo {
            width: 160px;
            height: 30px;
            margin-right: 20px;
        }
        
        .FormCampoMsg {
            width: 350px;
            padding-bottom: 100px;
            margin-right: 20px;
            margin-top: 25px;
            vertical-align: top;
        }
        
        .FormEnviar {
            cursor: pointer;
            outline: none;
            float: left;
            margin-left: 212px;
            margin-top: 25px;
            width: 165px;
            height: 30px;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            color: white;
            background-color: #63C7A9;
            border: none;
            transition: 0.5s;
        }
        
        .FormEnviar:disabled {
            background-color: #535353fd;
            cursor: default;
        }
        
        @media only screen and (max-width: 500px) {
            .Form {
                width: 380px;
            }
            .FormSegundoTxt {
                width: 300px;
            }
            .DivPrimeirosInputs {
                margin-left: 10px;
                width: 200px;
            }
            .FormCampoMsg {
                margin-left: 20px;
                width: 300px;
            }
            .FormEnviar {
                margin-left: 100px;
            }
        }