    .SegundaDivPrincipal {
        background-color: #363636;
        width: 100%;
        height: 700px;
        padding-top: 120px;
    }
    
    .DivCardCentral {
        position: relative;
        background-color: white;
        width: 250px;
        height: 380px;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 130px;
        border-radius: 30px;
    }
    
    .Cards {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        margin-top: -60px;
        border: solid 2px white;
        border-radius: 50px;
        background-color: #363636;
        width: 220px;
        height: 260px;
    }
    
    .CardImage {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        margin-bottom: -5px;
        margin-right: -15px;
        width: 245px;
        height: 320px;
    }
    
    .CardTxt {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 200px;
        font-family: 'Open Sans', sans-serif;
        font-size: 12.5px;
        line-height: 14px;
        margin: auto;
        margin-top: 225px;
    }
    
    .RightArrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: -5%;
        z-index: 1;
        width: 20px;
        height: 20px;
        color: white;
        font-size: 65px;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 80px;
    }
    
    .LeftArrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: -7%;
        z-index: 1;
        width: 20px;
        height: 20px;
        color: white;
        font-size: 65px;
        font-family: 'Courier New', Courier, monospace;
    }
    /* SLIDER */
    
    slides .slick-prev,
    .slides .slick-next {
        position: absolute;
        top: 50%;
        z-index: 1;
        color: white;
    }
    
    .slides {
        position: relative;
        margin: auto;
        width: 80%;
        margin-left: 120px;
    }
    
    .slick-slide.slick-center img {
        transform: scale(1.1);
    }
    
    .slides .slick-prev,
    .slides .slick-next {
        position: absolute;
        top: 50%;
        z-index: 1;
    }
    /* RESPONSIVE */
    /* TABLET */
    
    @media only screen and (max-width: 800px) {
        .CardImage {
            margin-bottom: -5px;
            margin-right: -22px;
            width: 250px;
            height: 320px;
        }
        .DivCardCentral {
            width: 240px;
            height: 380px;
            margin-left: 75px;
            margin-right: 70px;
            margin-top: 120px;
        }
        .Cards {
            margin-top: -60px;
            width: 220px;
            height: 260px;
        }
        .LeftArrow {
            left: -13%;
        }
        .RightArrow {
            right: -8%;
        }
        .slides {
            position: relative;
            margin: auto;
            width: 50%;
        }
    }
    /* TABLET PAISAGEM */
    
    @media only screen and (max-width: 1024px) and (max-height: 800px) {
        .CardImage {
            margin-bottom: -5px;
            margin-right: -22px;
            width: 250px;
            height: 320px;
        }
        .DivCardCentral {
            width: 240px;
            height: 380px;
            margin-left: 70px;
            margin-right: 150px;
            margin-top: 120px;
        }
        .Cards {
            margin-top: -60px;
            width: 220px;
            height: 260px;
        }
        .LeftArrow {
            left: -13%;
        }
        .RightArrow {
            right: -12%;
        }
        .slides {
            position: relative;
            margin: auto;
            width: 35%;
        }
    }
    /* SMARTPHONE */
    
    @media only screen and (max-width: 600px) {
        .slides {
            position: relative;
            width: 100%;
            margin-left: 160px;
        }
        .CardImage {
            margin-bottom: -5px;
            margin-right: -20px;
            width: 250px;
            height: 320px;
        }
        .DivCardCentral {
            width: 240px;
            height: 380px;
            margin-left: 85px;
            margin-right: 70px;
            margin-top: 120px;
        }
        .Cards {
            margin-top: -60px;
            width: 220px;
            height: 260px;
        }
        .LeftArrow {
            left: 5%;
        }
        .RightArrow {
            right: 10%;
        }
        .slides {
            position: relative;
            margin: auto;
            margin-left: 0px;
        }
    }